@import 'tailwindcss';
@import '@fortawesome/fontawesome-free/css/all.min.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

/*Fontes*/
@font-face {
  font-family: 'shantellSans-Bold';
  src: url('../fonts/ShantellSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'jaldi-bold';
  src: url('../fonts/Jaldi-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'jaldi';
  src: url('../fonts/Jaldi-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.bg-fundo-padrao {
    background-image: url('/public/imagens/fundo-padrao.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/*Classes*/
@theme {
  /*Fontes*/
  --font-shantellSans-bold: "shantellSans-Bold", ui-sans-serif, system-ui, sans-serif;
  --font-jaldi-bold: "jaldi-bold", ui-sans-serif, system-ui, sans-serif;
  --font-jaldi: "jaldi", ui-sans-serif, system-ui, sans-serif;

  /*Cores*/
  --color-bege: #FBEEDD;
  --color-preto: #313133;
  --color-cinza: #505050;
  --color-azul-escuro: #669BBB;
  --color-azul-claro: #76C1D8;
  --color-vermelho-escuro: #F16267;
  --color-vermelho-claro: #F57A7E;
}